@model LuckyDucky.MVC.Models.TakePartModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["title"];//lottery
    Layout = "~/Views/Shared/_Layout.cshtml";
    string patternName = "^[a-zA-Z]+$";
    string patternEmail = @"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*";
}

<h2>@Localizer["title"]</h2>

<div class="container">

    <h4 class="text-center font-weight-bold p-3">@Localizer["takePart"]</h4>

    <form class="bg-light" method="post">
        @if (Model.IsAlwaysTakePartCheck)
        {
            <div class="row  p-3">
                <div class="col">
                    <label asp-for="Name"></label>
                    <input type="text" class="form-control" asp-for="Name" disabled />
                </div>
                <div class="col">
                    <label asp-for="Email"></label>
                    <input type="email" class="form-control" asp-for="Email" disabled />
                </div>
            </div>
            <div class="text-center custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked asp-for="IsAlwaysTakePartCheck" disabled>
                <label class="custom-control-label" for="customCheck1">@Localizer["alwaysTakePart"]@*Always Take Part*@</label>
            </div>
            <div class="p-3 text-center">
                <button type="submit" class="btn btn-primary">@Localizer["submitAlwaysTakePartChecked"]@*Do Not Take Part*@</button>
            </div>
        }
        else
        {
            <div class="row p-3">
                <div class="col">
                    <label asp-for="Name"></label>
                    <input type="text" class="form-control" asp-for="Name" pattern="@patternName" maxlength="100" required />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="col">
                    <label asp-for="Email"></label>
                    <input type="text" class="form-control" asp-for="Email" pattern="@patternEmail" required />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="text-center custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" asp-for="IsAlwaysTakePartCheck" />
                <label class="custom-control-label" for="customCheck1">@Localizer["alwaysTakePart"]</label>
            </div>
            <div class="p-3 text-center">
                <button type="submit" class="btn btn-primary">@Localizer["submitTakePart"]@*Take part*@</button>
            </div>
        }

    </form>
</div>